[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
pylint = "*"
python-telegram-bot = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
